body {
  font-family: 'Poppins', serif;
  background: url(../images/concrete_seamless.png), #f1f1f1; 
}

header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

.nav_links {
  display: flex;
  flex-flow: column nowrap;
}

a, a:visited {
  /* the unvisited and visited site are blue */
  color: blue;
}

.card {
  flex-basis: 450px;
  border-radius: 50px 50px 0 0;  
}

/* the pricing class is row wrapped with everything centered */
.pricing {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

/* given in instructions */
.card > header {
  background-color: #288088;
  border: solid 2px #45ADAD;
  padding: 20px 0;
  border-radius: 50px 50px 0 0;
}

/* styling the gallery images */
.gallery > img {
  border: solid 10px #50C7C7;
  margin: 10px;
  width: 300px;
}

/* given in instructions */
.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media screen and (min-width: 900px) {
  header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .nav_links {
    display: flex;
    /* it is a row and it doesn't wrap */
    flex-flow: row nowrap;
  }

  .pricing {
    display: flex;
    flex-flow: row nowrap;
    /* center horizontally and vertically */
    justify-content: center;
    align-items: center;
  }
  
  /* given in instruction */
  .card {
    flex-basis: 275px;
  }

  /* only targets the first header */
  body > header { 
    position: fixed;
    width: 100%;
    top: 0;
  }

  /* put margin so header does not overlay the main contents */
  main {
    margin-top: 100px;
  }
}

/* print view */
@media print{
  body {
    /* given in instruction */
    font-family: Arial, Helvitica;
    background: #f1f1f1;
  }
  header {
    /* its a column and space between */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    /* make nav bar go all accross */
    width: 100%; 
  }

  .nav_links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  .pricing {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    /* put the pricing at the bottom */
    align-items:flex-end;

  }

  /* given in instruction */
  .card {
    flex-basis: 325px;
    border: solid 2px #45ADDD; 
  }

  /* removes gallery */
  #gallery, .gallery{
    display: none;
  }
/* add the thumbs up */
  header > h4:after {
    content: '\1F44D'
  }
}